extends ../layout/common 

block content
    h1 Update user : 
        a= info.name
    if error
        .alert.alert-danger= error
    form(action="/users/update", method="POST", enctype="multipart/form-data")
        .form-group
            input(type="hidden",name="id", value= info.id)
        .form-group
            label(for='exampleInputName') Name
            input#exampleInputName.form-control(type='text',
            name="name", value= info.name, placeholder='Enter Name')
        .form-group
            label(for='exampleInputPhone') Phone
            input#exampleInputPhone.form-control(type='text',
            name="phone", value= info.phone, placeholder='Phone')
        .form-group
            label(for='exampleInputEmail') Email
            input#exampleInputEmail.form-control(type='text',
            name="newEmail", value= info.email, placeholder='Email')
        .form-group
            label(for='exampleInputPassword') Password
            input#exampleInputPassword.form-control(type='password',
            name="newPassword",placeholder='Password')
        .input-group.mb-3
            .custom-file
                input#avatar.custom-file-input(name='avatar',type='file')
                label.custom-file-label(for='avatar') Choose file
        button.btn.btn-primary(type='submit') Update